*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    gap: 10px;
}

.settings-container {
    gap: 20px;
}

.canvas-container {
    width: 90%;
    box-shadow: 3px 3px 8px #0000004d;
}

canvas {
    border: solid 2px black;
}